{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media (max-width: 768px) {
    #shopify-section-{{ section.id }} {
      --padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      --padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }
  }
{%- endstyle -%}

<div class="container">
  <div class="swiper">
    <div class="page-width es-featured-blocks__title-wrapper small-hide">
      <h2 class="es-font-h2">{{ section.settings.title }}</h2>
      <div class="es-featured-blocks__navigation">
        <div class="swiper-button-prev">
          {%- render 'es-icon-arrow-right' -%}
        </div>
        <div class="swiper-button-next">
          {%- render 'es-icon-arrow-right' -%}
        </div>
      </div>
    </div>
    <div class="esSwiper page-width">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          {%- assign product = block.settings.product -%}
          {%- if block.settings.custom_image != blank -%}
            {%- assign block_image = block.settings.custom_image -%}
          {%- elsif product != blank -%}
            {%- assign block_image = product.featured_image -%}
          {%- endif -%}
          {%- assign block_title = block.settings.title | default: product.title -%}
          {%- assign block_url = block.settings.url | default: product.url -%}
          <div class="swiper-slide">
            <div class="es-featured-blocks__item">
              <div class="es-featured-blocks__item-image">
                <a class="link" href="{{ block_url }}">
                  {%- if block_image != blank -%}
                    <img
                      src="{{ block_image | image_url: width: 1000 }}"
                      alt="{{ block_title }}"
                      width="{{ block_image.width | divided_by: 2 }}"
                      height="{{ block_image.height | divided_by: 2 }}"
                    >
                  {%- endif -%}
                </a>
              </div>
              <div class="es-featured-blocks__item-title">
                <a class="es-button link" href="{{ block_url }}">{{ block_title }}</a>
                <div class="es-featured-blocks__item-subtitle">{{ block.settings.subtitle }}</div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    new Swiper('#shopify-section-{{ section.id }} .esSwiper', {
      slidesPerView: 5,
      spaceBetween: 20,
      navigation: {
        nextEl: '#shopify-section-{{ section.id }} .swiper-button-next',
        prevEl: '#shopify-section-{{ section.id }} .swiper-button-prev',
      },
      breakpoints: {
        1024: {
          slidesPerView: 5,
        },
        768: {
          slidesPerView: 3,
        },
        320: {
          slidesPerView: 2.5,
          spaceBetween: 4,
        },
      },
    });
  });
</script>

{%- schema -%}
{
  "name": "ES Featured Products",
  "tag": "section",
  "class": "section es-featured-blocks",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "Featured Products"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Image (optional, overrides product image)"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title (optional, overrides product title)"
        },
        {
          "type": "inline_richtext",
          "id": "subtitle",
          "label": "Sub Title"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL (optional, overrides product URL)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ES Featured Products"
    }
  ]
}
{%- endschema -%}