{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .ui_grid__item{
    flex-grow: 0;
  }
{%- endstyle -%}

<div
  id="{{ section.settings.custom_id }}"
  class="color-{{ section.settings.color_scheme }} gradient{% if section.settings.tab_section %} tab-section{% endif %}{% if section.settings.hide_section %} hidden{% endif %}"
>
  <div class="{% if section.settings.layout == 'row' %}page-width--small{% elsif section.settings.layout == 'section' %} page-width{% elsif section.settings.layout == 'none' %} content-container content-container--full-width{% endif %}">
    <div class="section-{{ section.id }}-padding{% if section.settings.layout == 'section' %} content-container color-{{ section.settings.container_color_scheme }} gradient{% endif %}">
      <aside>
        <ul class="small-hide">
          {%- for block in section.blocks -%}
            <li>
              <label>
                <input
                  type="radio"
                  name="galleryCategory"
                  value="#ClipArt--{{ block.id }}"
                  {% if forloop.first %}
                    checked
                  {% endif %}
                >
                <span>{{ block.settings.heading }}</span>
              </label>
            </li>
          {%- endfor -%}
        </ul>
        <select name="galleryCategory" class="medium-hide large-up-hide">
          {%- for block in section.blocks -%}
            <option value="#ClipArt--{{ block.id }}">{{ block.settings.heading }}</option>
          {%- endfor -%}
        </select>
      </aside>

      <div class="library--container">
        {%- for block in section.blocks -%}
          {%- if block.settings.metaobject != blank or block.settings.metaobject_2 != blank -%}
            <div id="ClipArt--{{ block.id }}" class="library--item{% unless forloop.first %} hidden{% endunless %}">
              <div class="library--description">
                {{ block.settings.description }}
              </div>

              <div class="mySwiper-{{ block.id }}">
                <div class="product-pagination">
                  {%- assign clip_metafield = block.settings.metaobject -%}
                  {%- if block.settings.metaobject_2 != '' -%}
                    {%- assign clip_metafield = block.settings.metaobject_2 -%}
                  {%- endif -%}

                  {%- for clip_art in clip_metafield.clip_arts.value -%}
                    <div class="grid__item ui_grid__item">
                      <div class="grid__item-media">
                        <img
                          src="{{ clip_art.image | img_url: 'master' }}"
                          width="{{ clip_art.image.width }}"
                          height="{{ clip_art.image.height }}"
                          alt="{{ clip_art.image.alt | default: clip_art.image.id }}"
                        >
                      </div>
                      <div class="grid__item-content center">
                        <h4 class="es-font-h5">{{ clip_art.title }}</h4>
                        <div class="grid__item-text">{{ clip_art.text }}</div>
                      </div>
                    </div>
                  {%- endfor -%}
                </div>
                <div class="pagination-section">
                  <div class="page-previous-btn">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none">
                      <path d="M6 1L1 6L6 11" stroke="#900" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  <div class="pagination-controls"></div>
                  <div class="page-next-btn">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none">
                      <path d="M1 1L6 6L1 11" stroke="#900" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

<style>
  .product-pagination {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, auto);
  }

  @media (max-width: 749px) {
    .product-pagination {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(10, auto);
    }
  }

  .pagination-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
    margin-top: 0;
  }

  .page-previous-btn,
  .page-next-btn {
    font-size: 32px;
    color: #900;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: color 0.2s;
    user-select: none;
  }

  .page-previous-btn.disabled,
  .page-next-btn.disabled {
    opacity: 0.3;
    pointer-events: none;
    color: #900;
  }

  .pagination-controls {
    display: flex;
    gap: 10px;
  }

  .pagination-controls button {
    background: none;
    border: none;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    font-weight: 400;
  }

  .pagination-controls button.active {
    font-weight: 700;
    color: #900;
  }

  .pagination-controls button.active::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background: #900;
  }

  .product-pagination .grid__item.ui_grid__item {
    width: 100% !important;
    max-width: none;
  }

  .product-pagination .grid__item.ui_grid__item.active {
    display: none;
  }

  .page-previous-btn svg,
  .page-next-btn svg {
    display: block;
    margin: auto;
    width: 15px;
    height: 15px;
  }

  .page-previous-btn:hover svg path,
  .page-next-btn:hover svg path {
    stroke: #600;
  }

  .grid__item.ui_grid__item.placeholder {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    pointer-events: none;
    visibility: hidden;
  }

  .es-library .content-container {
    gap: 30px;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    (() => {
      {%- for block in section.blocks -%}
        pagination(document.querySelectorAll('.library--item'), {{ section.settings.desktop_products_per_page }}, {{ section.settings.mobile_products_per_page }});
      {%- endfor -%}
  
      var libraryItems = document.querySelectorAll('#shopify-section-{{ section.id }} .library--item');

      document.querySelectorAll('#shopify-section-{{ section.id }} [name="galleryCategory"]')?.forEach(input => {
        input.addEventListener("change", function () {
          libraryItems.forEach(item => {
            item.classList.add("hidden");
          });

          const target = document.querySelector(`${this.value}`);
          if (target) {
            target.classList.remove('hidden');
            pagination([target], {{ section.settings.desktop_products_per_page }}, {{ section.settings.mobile_products_per_page }});
          }
        });
      });
    })();
  });
</script>

{% schema %}
{
  "name": "ES Library",
  "tag": "section",
  "class": "section es-library",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Tab settings"
    },
    {
      "type": "number",
      "id": "desktop_products_per_page",
      "label": "Desktop Products Per Page",
      "default": 20
    },
    {
      "type": "number",
      "id": "mobile_products_per_page",
      "label": "Mobile Products Per Page",
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "tab_section",
      "label": "Tab Section",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_section",
      "label": "Hide section?",
      "default": false
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID",
      "default": "tabColorList"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.collapsible_content.settings.heading.label",
      "default": "t:sections.collapsible_content.settings.heading.default"
    },
    {
      "type": "metaobject",
      "id": "galleries",
      "label": "Gallery",
      "metaobject_type": "galleries"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.collapsible_content.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.collapsible_content.settings.layout_header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.collapsible_content.settings.layout.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.collapsible_content.settings.layout.options__1.label"
        },
        {
          "value": "row",
          "label": "t:sections.collapsible_content.settings.layout.options__2.label"
        },
        {
          "value": "section",
          "label": "t:sections.collapsible_content.settings.layout.options__3.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "color_scheme",
      "id": "container_color_scheme",
      "label": "t:sections.collapsible_content.settings.container_color_scheme.label",
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.collapsible_content.settings.section_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "library",
      "name": "Library",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "metaobject",
          "id": "metaobject",
          "label": "Metaobject",
          "metaobject_type": "clip_art_library"
        },
        {
          "type": "metaobject",
          "id": "metaobject_2",
          "label": "Metaobject 2",
          "metaobject_type": "clip_art_library_2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ES Library"
    }
  ]
}
{% endschema %}
