{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  class="gradient color-{{ section.settings.color_scheme }}{% if cart == empty %} is-empty{% endif %}"
  id="main-cart-footer"
  data-id="{{ section.id }}"
>
  <div class="page-width">
    <div class="cart__footer isolate section-{{ section.id }}-padding">
      <div class="cart_footer_wahat_happens_button_text">
        <a href="{{ section.settings.heading_url }}">{{ section.settings.heading }}
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.28033 8.97271C0.987437 9.26561 0.512563 9.26561 0.21967 8.97271C-0.073223 8.67982 -0.073223 8.20495 0.21967 7.91205L3.53549 4.59623L0.21967 1.28041C-0.073223 0.987513 -0.0732229 0.512638 0.21967 0.219746C0.512564 -0.0731478 0.987437 -0.0731478 1.28033 0.219746L5.12648 4.0659C5.41938 4.35879 5.41938 4.83367 5.12648 5.12656L1.28033 8.97271Z" fill="black"/>
          </svg>
        </a>
      </div>

      {% comment %} {%- if settings.show_cart_note -%}
        <cart-note class="cart__note field">
          <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
          <textarea
            class="text-area field__input"
            name="note"
            form="cart"
            id="Cart-note"
            placeholder="{{ 'sections.cart.note' | t }}"
          >{{ cart.note }}</textarea>
        </cart-note>
      {%- endif -%}  {% endcomment %}

      <div class="cart__blocks">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'Order_special' -%}
              {%- if settings.show_cart_note -%}
                <details id="Details-Cartfooter">
                  <summary>
                    <span class="summary__title">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                        <rect x="0.5" y="0.5" width="13" height="14" stroke="black"/>
                        <line x1="4" y1="4.5" x2="10" y2="4.5" stroke="black"/>
                        <line x1="4" y1="7.5" x2="10" y2="7.5" stroke="black"/>
                        <line x1="4" y1="10.5" x2="10" y2="10.5" stroke="black"/>
                      </svg>
                      {{ 'sections.cart.note' | t }}
                      <svg class="caret-icon " xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 10 7" fill="none">
                        <path d="M0.21967 1.04795C-0.0732233 1.34084 -0.0732233 1.8156 0.21967 2.1085L4.05756 5.94639C4.06027 5.94918 4.06261 5.95242 4.06537 5.95518C4.10983 5.99962 4.16029 6.03457 4.21186 6.06553C4.23355 6.07855 4.25563 6.09004 4.27826 6.10068C4.29851 6.1102 4.31893 6.11847 4.33979 6.12607C4.36524 6.13536 4.3908 6.14307 4.41694 6.14951C4.43452 6.15384 4.45187 6.15819 4.46967 6.16123C4.50146 6.16666 4.53323 6.16967 4.56537 6.171C4.57909 6.17156 4.59267 6.17216 4.60639 6.17197C4.6415 6.1715 4.6761 6.16758 4.71088 6.16221C4.7226 6.16039 4.7344 6.15969 4.74604 6.15732C4.781 6.15022 4.81472 6.13918 4.84858 6.12705C4.85981 6.12302 4.87168 6.12089 4.88276 6.11631C4.91826 6.10163 4.95193 6.08297 4.98529 6.0626C4.99385 6.05737 5.00327 6.05355 5.01166 6.04795C5.01707 6.04434 5.02195 6.04 5.02729 6.03623C5.06176 6.01187 5.09604 5.98604 5.1269 5.95518L8.9726 2.1085L9.02338 2.05186C9.26386 1.75728 9.24723 1.32262 8.9726 1.04795C8.69801 0.773359 8.26327 0.755921 7.96869 0.996191L7.91205 1.04795L4.59565 4.36338L1.28022 1.04795C0.987324 0.755055 0.512563 0.755055 0.21967 1.04795Z" fill="black"/>
                      </svg>
                    </span>
                  </summary>
                  <cart-note class="cart__note field">
                    {% comment %} <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label> {% endcomment %}
                    <textarea
                      id="CartDrawer-Note"
                      class="text-area text-area--resize-vertical field__input"
                      name="note"
                      aria-label="CartDrawer-Note"
                      placeholder="{{ 'sections.cart.note' | t }}"
                    >{{ cart.note }}</textarea>
                  </cart-note>
                </details>
              {%- endif -%}
            {%- when 'subtotal' -%}
              <div class="js-contents" {{ block.shopify_attributes }}>
                <div>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--position">
                          {{- 'icon-discount.svg' | inline_asset_content -}}
                          {{ discount.title | escape }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>

                <div class="totals">
                  <h2 class="totals__total">{{ 'sections.cart.estimated_total' | t }}</h2>
                  <p class="totals__total-value">{{ cart.total_price | money_with_currency }}</p>
                </div>

                <small class="tax-note caption-large rte">
                  {%- if cart.duties_included and cart.taxes_included -%}
                    {%- if shop.shipping_policy.body == blank -%}
                      {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
                    {%- else -%}
                      {{
                        'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                        | t: link: shop.shipping_policy.url
                      }}
                    {%- endif -%}
                  {%- elsif cart.duties_included == false and cart.taxes_included -%}
                    {%- if shop.shipping_policy.body == blank -%}
                      {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
                    {%- else -%}
                      {{
                        'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                        | t: link: shop.shipping_policy.url
                      }}
                    {%- endif -%}
                  {%- elsif cart.duties_included and cart.taxes_included == false -%}
                    {%- if shop.shipping_policy.body == blank -%}
                      {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
                    {%- else -%}
                      {{
                        'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                        | t: link: shop.shipping_policy.url
                      }}
                    {%- endif -%}
                  {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
                    {%- if shop.shipping_policy.body == blank -%}
                      {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
                    {%- else -%}
                      {{
                        'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                        | t: link: shop.shipping_policy.url
                      }}
                    {%- endif -%}
                  {%- endif -%}
                </small>
              </div>
            {%- else -%}
              <div class="cart__ctas" {{ block.shopify_attributes }}>
                <button
                  type="submit"
                  id="checkout"
                  class="cart__checkout-button button"
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                  form="cart"
                >
                  {{ 'sections.cart.checkout' | t }}
                </button>
              </div>

              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
          {%- endcase -%}
        {% endfor %}

        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },    
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "WHat happens now?"
    },
    {
      "type": "url",
      "id": "heading_url",
      "label": "Heading URL"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },    
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "Order_special",
      "name": "Order special",
      "limit": 1
    },
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
